<div 
  data-controller="audio-player" 
  data-audio-player-autoplay-value="<%= autoplay %>"
  class="<%= table_optimized_classes %> <%= css_class %>"
>
  <media-controller
    id="<%= player_id %>"
    data-audio-player-target="player"
    data-audio-url="<%= audio_url %>"
    class="bg-gray-800 rounded-md"
  >
    <audio
      slot="media"
      src="<%= audio_url %>"
      preload="metadata"
    ></audio>
    <media-control-bar class="bg-gray-800 text-gray-300 px-2 py-1">
      <media-play-button class="text-gray-300 hover:text-white"></media-play-button>
      <media-time-display show-duration class="text-sm text-gray-300"></media-time-display>
      <media-time-range class="flex-1 mx-2"></media-time-range>
      <media-volume-range class="w-20"></media-volume-range>
    </media-control-bar>
  </media-controller>
</div>

