<div 
  data-controller="audio-player" 
  data-audio-player-autoplay-value="<%= autoplay %>"
  class="<%= table_optimized_classes %> <%= css_class %>"
>
  <audio 
    id="<%= player_id %>"
    data-audio-player-target="player"
    data-audio-url="<%= audio_url %>"
    style="visibility: hidden;"
    controls
    preload="none"
  >
    <p class="text-red-400 text-sm">お使いのブラウザは音声ファイルの再生をサポートしていません。</p>
  </audio>
</div>

