<div 
  id="<%= player_id %>"
  class="<%= container_classes %>"
  data-controller="floating-audio-player"
  data-turbo-permanent
>
  <!-- Left Section: Track Info -->
  <div class="<%= track_info_classes %>">
    <p 
      class="text-sm font-medium truncate"
      data-floating-audio-player-target="trackTitle"
    >
      Now Playing
    </p>
  </div>

  <!-- Center Section: Audio Player and Controls -->
  <div class="<%= controls_section_classes %>">
    <!-- Previous Button -->
    <button 
      type="button"
      class="<%= button_classes %>"
      data-action="click->floating-audio-player#previous"
      aria-label="Previous track"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953l7.108-4.062A1.125 1.125 0 0121 8.688v8.123zM11.25 16.811c0 .864-.933 1.405-1.683.977l-7.108-4.062a1.125 1.125 0 010-1.953L9.567 7.71a1.125 1.125 0 011.683.977v8.123z" />
      </svg>
    </button>

    <!-- Play/Pause Button -->
    <button 
      type="button"
      class="<%= button_classes %> bg-blue-600 hover:bg-blue-700"
      data-floating-audio-player-target="playButton"
      data-action="click->floating-audio-player#togglePlay"
      aria-label="Play/Pause"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" data-floating-audio-player-target="playIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden" data-floating-audio-player-target="pauseIcon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25v13.5m-7.5-13.5v13.5" />
      </svg>
    </button>

    <!-- Next Button -->
    <button 
      type="button"
      class="<%= button_classes %>"
      data-action="click->floating-audio-player#next"
      aria-label="Next track"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z" />
      </svg>
    </button>

    <!-- Audio Player (with Plyr controls) -->
    <audio 
      id="<%= audio_id %>"
      data-floating-audio-player-target="audio"
      data-plyr-config='<%= plyr_config %>'
      controls
      class="flex-1 mx-4 min-w-0"
    ></audio>
  </div>

  <!-- Right Section: Close Button -->
  <div class="<%= close_section_classes %>">
    <button 
      type="button"
      class="<%= close_button_classes %>"
      data-action="click->floating-audio-player#close"
      aria-label="Close player"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>