<tr class="<%= row_classes %>" data-track-id="<%= track_id %>">
  <td class="px-6 py-2 text-sm text-gray-300">
    #<%= track_number %>
  </td>
  
  <td class="px-6 py-2 text-sm">
    <%= render status_badge_component %>
  </td>
  
  <td class="px-6 py-2 text-sm text-gray-300">
    <%= track_title %>
  </td>
  
  <td class="px-6 py-2 text-sm text-gray-300">
    <%= formatted_duration %>
  </td>
  
  <td class="px-6 py-2 text-sm">
    <%= player_content %>
  </td>
  
  <td class="px-6 py-2 text-sm text-gray-300">
    <%= formatted_created_at %>
  </td>
</tr>